<a href="https://colab.research.google.com/github/Yasir323/100-days-of-code/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!wget -O italy-covid-daywise.csv https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv

--2021-06-28 12:21:39--  https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6619 (6.5K) [text/plain]
Saving to: ‘italy-covid-daywise.csv’

italy-covid-daywise 100%[===================>]   6.46K  --.-KB/s    in 0s

2021-06-28 12:21:39 (67.4 MB/s) - ‘italy-covid-daywise.csv’ saved [6619/6619]

In [6]:
!ls

italy-covid-daywise.csv  italy-covid-daywise.csv.1  sample_data

In [7]:
import pandas as pd

In [10]:
covid_df = pd.read_csv('italy-covid-daywise.csv')
covid_df.head(10)

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN
5  2020-01-05        0.0         0.0        NaN
6  2020-01-06        0.0         0.0        NaN
7  2020-01-07        0.0         0.0        NaN
8  2020-01-08        0.0         0.0        NaN
9  2020-01-09        0.0         0.0        NaN

In [9]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [11]:
type(covid_df)

pandas.core.frame.DataFrame

In [14]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [15]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [16]:
covid_df.shape

(248, 4)

In [19]:
data_dict = {
    'date': ['a', 'b', 'c', 'd'],
    'cases': [1, 2, 3, 4]
}
temp_df = pd.DataFrame(data_dict)
temp_df

  date  cases
0    a      1
1    b      2
2    c      3
3    d      4

In [22]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [23]:
type(covid_df['new_cases'])

pandas.core.series.Series

In [24]:
covid_df['new_cases'][246]

975.0

In [25]:
covid_df.at[246, 'new_cases']

975.0

In [27]:
covid_df.new_cases

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [29]:
cases_df = covid_df[['date', 'new_cases']]
cases_df.head()

         date  new_cases
0  2019-12-31        0.0
1  2020-01-01        0.0
2  2020-01-02        0.0
3  2020-01-03        0.0
4  2020-01-04        0.0

In [30]:
covid_df_copy = covid_df.copy()

In [31]:
covid_df.loc[245]

date          2020-09-01
new_cases            996
new_deaths             6
new_tests          54395
Name: 245, dtype: object

In [32]:
covid_df.tail()

           date  new_cases  new_deaths  new_tests
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [33]:
covid_df.head()

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN

In [35]:
covid_df.loc[covid_df.new_tests.first_valid_index()]

date          2020-04-20
new_cases           3047
new_deaths           433
new_tests           7841
Name: 111, dtype: object

In [36]:
covid_df.loc[100:120]

           date  new_cases  new_deaths  new_tests
100  2020-04-09     3836.0       540.0        NaN
101  2020-04-10     4204.0       612.0        NaN
102  2020-04-11     3951.0       570.0        NaN
103  2020-04-12     4694.0       619.0        NaN
104  2020-04-13     4092.0       431.0        NaN
105  2020-04-14     3153.0       564.0        NaN
106  2020-04-15     2972.0       604.0        NaN
107  2020-04-16     2667.0       578.0        NaN
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
115  2020-04-24     2646.0       464.0    95273.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0
118  2020-04-27     2324.0       260.0    26678.0
119  2020-04-28     1739.0       333.0    37554.0
120  2020-04-29     2091.0       382.0    38589.0

In [37]:
covid_df.sample(10)

           date  new_cases  new_deaths  new_tests
139  2020-05-18      675.0       145.0    26101.0
167  2020-06-15      338.0        44.0    17463.0
61   2020-03-01      240.0         8.0        NaN
2    2020-01-02        0.0         0.0        NaN
102  2020-04-11     3951.0       570.0        NaN
131  2020-05-10     1083.0       194.0    31384.0
68   2020-03-08     1247.0        36.0        NaN
13   2020-01-13        0.0         0.0        NaN
147  2020-05-26      300.0        92.0    33944.0
34   2020-02-03        0.0         0.0        NaN